<form id="mappingForm" class = "form-group">
    <h3 class="heading"> Headers </h3>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div id="dropdown" class="form-group">
            <label for="dropDownSelect1">First Name </label>
            <select id="dropDownSelect1" class="form-control" ng-model="selectedName1" required ng-change="select1(selectedName1)" ng-options="x for x in headers.headers">
						<option value = ""></option>
                </select>
                <span ng-show = " !selectedName1 " class = "error">Please select an option </span>
        </div>
        <div id="dropdown2" class="form-group">
            <label for="dropDownSelect2">City </label>
            <select id="dropDownSelect2" class="form-control" ng-model="selectedName2" required ng-change="select2(selectedName2)" ng-options="x for x in headers.headers">
					</select>
                    <span ng-show = " !selectedName2 " class = "error">Please select an option </span>
        </div>
        <div id="dropdown3" class="form-group">
            <label for="dropDownSelect3">Age</label>
            <select id="dropDownSelect3" class="form-control" ng-model="selectedName3" required ng-change="select3(selectedName3)" ng-options="x for x in headers.headers">
					</select>
                    <span ng-show = " !selectedName3 " class = "error">Please select an option </span>
        </div>
        <div id="dropdown4" class="form-group">
            <label for="dropDownSelect4">State</label>
            <select id="dropDownSelect4" class="form-control" ng-model="selectedName4" required ng-change="select4(selectedName4)" ng-options="x for x in headers.headers">
					</select>
                    <span ng-show = " !selectedName4 " class = "error">Please select an option </span>
        </div>
        <div id="dropdown5" class="form-group">
            <label for="dropDownSelect5">Country</label>
            <select id="dropDownSelect5" class="form-control" ng-model="selectedName5" required ng-change="select5(selectedName5)" ng-options="x for x in headers.headers">
					</select>
                    <span ng-show = " !selectedName5 " class = "error">Please select an option </span>
        </div>
        <br>
       <!--  <input type='button' id='btnLoad' class="btn btn-default" value='Next Page!!' ng-click="data()"> -->
        <button class="btn btn-default"  ng-disabled="!(!!selectedName1 && !!selectedName2 && !!selectedName3 && !!selectedName4 && !!selectedName5)" type="button" ng-click="data()">Next Page</button>
        
        <br>
    </div>
</form>