<!-- including Header Content -->
<% include partials/header %>

	<!-- including Content -->
	<h1>Hello World</h1>
	<a href="/test">Test Page</a>

<!-- including Footer Content -->
<% include partials/footer %>