<!-- including Header Content -->
<% include partials/header %>

	<!-- including Content -->
	<h1>Hello This is a Test Page</h1>
	<a href="/">Back</a>

<!-- including Footer Content -->
<% include partials/footer %>